* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: #fff;
    gap : 5rem;
    padding:10px 20px;
}

body nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    transition: all 0.2s ease-in-out;
}

body nav a:hover {
    background-color: #242424;
}

body nav a:active {
    background-color: #18181a;
}

.home-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
}