* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

body nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: #fff;
    gap : 5%;
    padding:10px 20px;
    position: sticky;
    top: 0;
}

body nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    transition: all 0.2s ease-in-out;
}

body nav a:hover {
    background-color: #242424;
}

body nav a:active {
    background-color: #18181a;
}

.home-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
}

.home-body h1 {
    margin-bottom: 1rem;
}

.home-body p {
    margin-bottom: 1rem;
}


.menu-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
}

.menu-container {
    display:grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-gap: 2rem;
    padding: 2rem;

}

.menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem;
    border: 1px solid #333;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    transition: all 0.2s ease-in-out;
}

.menu-item img {
    margin-top: 1rem;
}


@media screen and (max-width: 768px) {
    .menu-container {
        grid-template-columns: repeat(1, minmax(100px, 1fr));
    }
}

.contact-body-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0;
    height: 80vh;
}

.contact-body {
    padding: 1.5rem 2rem;
    border: 1px solid #333;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    transition: all 0.2s ease-in-out;
}

.contact-body div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.contact-body div:not(:last-child) {
    margin-bottom: 1rem;
}
.contact-body h2 {
    margin-bottom: 0.25rem;
}